In [35]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['John', 'Jane', 'Doe'],
    'Age': [28, 34, 45],
    'Experience': [5, 10, 15],
})
df.to_csv('dataframe.csv', index=False)

In [36]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Practise_Dataframe").getOrCreate()

In [37]:
spark.read.option('header', 'true').csv('dataframe.csv').show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|John| 28|         5|
|Jane| 34|        10|
| Doe| 45|        15|
+----+---+----------+

In [38]:
df_pyspark = spark.read.option('header', 'true').csv('dataframe.csv')

In [39]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [40]:
df_pyspark = spark.read.option('header', 'true').csv('dataframe.csv', inferSchema=True)

In [41]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [42]:
df_pyspark = spark.read.csv('dataframe.csv', header=True, inferSchema=True)
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|John| 28|         5|
|Jane| 34|        10|
| Doe| 45|        15|
+----+---+----------+

In [43]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [44]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [46]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [47]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [48]:
df_pyspark.head(2)

[Row(Name='John', Age=28, Experience=5),
 Row(Name='Jane', Age=34, Experience=10)]

In [49]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|John| 28|         5|
|Jane| 34|        10|
| Doe| 45|        15|
+----+---+----------+

In [52]:
df_pyspark.select('Name').show()

+----+
|Name|
+----+
|John|
|Jane|
| Doe|
+----+

In [53]:
df_pyspark.select(['Name', 'Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
|John|         5|
|Jane|        10|
| Doe|        15|
+----+----------+

In [55]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
df_pyspark['Name'].show()

In [57]:
df_pyspark.describe().show()

+-------+----+------------------+----------+
|summary|Name|               Age|Experience|
+-------+----+------------------+----------+
|  count|   3|                 3|         3|
|   mean|NULL|35.666666666666664|      10.0|
| stddev|NULL| 8.621678104251709|       5.0|
|    min| Doe|                28|         5|
|    max|John|                45|        15|
+-------+----+------------------+----------+

In [59]:
df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience'] + 2).show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
|John| 28|         5|                       7|
|Jane| 34|        10|                      12|
| Doe| 45|        15|                      17|
+----+---+----------+------------------------+

In [60]:
df_pyspark.drop('Experience after 2 years').show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|John| 28|         5|
|Jane| 34|        10|
| Doe| 45|        15|
+----+---+----------+

In [61]:
df_pyspark.withColumnRenamed('Experience', 'Years of Experience').show()

+----+---+-------------------+
|Name|Age|Years of Experience|
+----+---+-------------------+
|John| 28|                  5|
|Jane| 34|                 10|
| Doe| 45|                 15|
+----+---+-------------------+