In [7]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['John', 'Jane', 'Doe','Taj', 'Ravi', 'Anu'],
    'Age': [28, 34, 45, 22, 30, 25],
    'Experience': [5, 10, 15, 2, 8, 3],
    'Salary': [50000, 60000, 70000, 40000, 55000, 45000],
})

df.to_csv('filter.csv', index=False)

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("filter").getOrCreate()

In [9]:
df_pyspark = spark.read.csv('filter.csv', header=True, inferSchema=True)
df_pyspark.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|John| 28|         5| 50000|
|Jane| 34|        10| 60000|
| Doe| 45|        15| 70000|
| Taj| 22|         2| 40000|
|Ravi| 30|         8| 55000|
| Anu| 25|         3| 45000|
+----+---+----------+------+

In [13]:
# df_pyspark.filter("Age > 30").show()
df_pyspark.filter(df_pyspark['Age'] >= 30).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Jane| 34|        10| 60000|
| Doe| 45|        15| 70000|
|Ravi| 30|         8| 55000|
+----+---+----------+------+

In [11]:
df_pyspark.filter("Age > 30").select('Name', 'Salary').show()

+----+------+
|Name|Salary|
+----+------+
|Jane| 60000|
| Doe| 70000|
+----+------+

In [14]:
df_pyspark.filter((df_pyspark['Age'] <= 30) & (df_pyspark['Age'] >= 18)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|John| 28|         5| 50000|
| Taj| 22|         2| 40000|
|Ravi| 30|         8| 55000|
| Anu| 25|         3| 45000|
+----+---+----------+------+

In [15]:
df_pyspark.filter((df_pyspark['Age'] <= 30) | (df_pyspark['Age'] >= 18)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|John| 28|         5| 50000|
|Jane| 34|        10| 60000|
| Doe| 45|        15| 70000|
| Taj| 22|         2| 40000|
|Ravi| 30|         8| 55000|
| Anu| 25|         3| 45000|
+----+---+----------+------+

In [16]:
df_pyspark.filter(~((df_pyspark['Age'] <= 30) & (df_pyspark['Age'] >= 18))).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Jane| 34|        10| 60000|
| Doe| 45|        15| 70000|
+----+---+----------+------+